@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.bg-services{
    background: #F7D89C;
    font-family: "jost", sans-serif;
    font-size: 21.328px;
}
.sercices-icons{
    font-size: 3.3rem;
    color: #695323;
}