@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap");

.bg-login {
  background-image: url(../../../public/assets/login-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  background-size: cover;
}
.login-container {
  background-color: rgba(255, 255, 255, 0.218);
  backdrop-filter: blur(10px);
  border-left: 1px solid #d6cfcf;
  border-radius: 10px;
  height: 100%;
}
.input-fields {
  border-radius: 4px !important;
}
.input-fields:focus {
  box-shadow: 0px 0px 9px 0px #d8a601 !important;
  border: none;
}
.heading-login {
  color: #f4c876;
  font-family: "Inria Sans", sans-serif !important;
  font-size: 2.5rem;
}
.checkbox-color {
  border: none;
  background-color: #fff !important;
  cursor: pointer;
}
.checkbox-color:focus{
  background-color: #EDA620 !important;
  box-shadow: none;
}
.checkbox-color:over{
  box-shadow: 0px 0px 9px 0px #f4c876 !important;
}
.login-btn {
  border-radius: 4px !important;
  background-color: #eda620 !important;
  color: #fff !important;
  border: none;
}
.Errors {
  color: red;
}
.text-clr {
  color: #a2a4a9;
}
.form-control{
  box-shadow: none !important;
}
.form-control:focus{
  box-shadow: none !important;
}
/* Media Quries */
@media (max-width: 556px) {
  .form {
    position: relative;
    left: 0px;
  }
  .login-container {
    width: 90% !important;
  }
  .input-fields {
    width: 100% !important;
    height: 20% !important;
    border-radius: 4px !important;
  }
  .heading-login {
    color: #f4c876;
    font-family: "Inria Sans", sans-serif !important;
    font-size: 2.3rem;
  }
  .login-btn {
    width: 100% !important;
    height: 20%;
    border-radius: 4px !important;
  }
}

@media (min-width: 557px) and (max-width: 768px) {
  .login-container {
    width: 80% !important;
  }
  .input-fields {
    width: 400px !important;
    height: 45px !important;
    border-radius: 4px !important;
  }
  .heading-login {
    font-size: 2.5rem;
  }
  .form {
    position: relative;
    left: 100px;
    width: 50%;
  }
  .login-btn {
    width: 400px !important;
    height: 45px;
  }
}

@media (min-width: 800px) {
  .login-container {
    width: 70% !important;
  }
  .input-fields {
    width: 490px !important;
    height: 45px !important;
    border-radius: 4px !important;
  }
  .heading-login {
    font-size: 2.5rem;
  }
  .login-btn {
    width: 490px !important;
    height: 45px;
  }

}
