.bg-cart {
  background-color: #0d0d0d;
}
.img-cart {
  height: 75px;
  width: 70px;
}
.col-br {
  border: 0.7px solid #b7bcbc;
}
.header-cart {
  border: 0.7px solid #b7bcbc;
  background-color: #212a2a;
}
.btn-dec {
  border: 1px solid #b7bcbc;
  width: 27px;
  background-color: #0d0d0d;
}
.dlt-btn {
  font-size: 27px;
  cursor: pointer;
}
.btns-cart {
  color: #0d0d0d;
  background-color: #eda620;
  height: 50px;
  width: 180px;
  border-radius: 5px;
}
.btns-cart-empty:hover {
  box-shadow: 0px 0px 8px 0px #eda620 !important;
}
.cart-text {
  font-size: 2rem;
}
.btns-cart-empty {
  background-color: #0d0d0d;
  border: 1px solid #fb914b;
  color: #fb914b;
  height: 50px;
  width: 120px;
  border-radius: 5px;
}
.text-cart {
  color: #b7bcbc;
}
.table-cart {
  background-color: #0d0d0d !important;
  color: #fff !important;
}
.input-cart {
  background-color: #0d0d0d;
  color: #fff !important;
}
.input-cart:focus {
  background-color: #312e2e;
}
.modal-bg {
  background-color: #312e2e !important;
  box-shadow: none;
  color: #fff;
}
.modal-bg:focus {
  box-shadow: none;
  border: 1px solid #fff;
  color: #fff;
}
::placeholder {
  color: #ffffff9c !important;
}
.checkbox {
  box-shadow: none !important;
}
.checkbox:focus {
  background-color: #eda620;
  border: none;
}
.btn-modal {
  background-color: #eda620;
  color: #312e2e;
  height: 44px;
  width: 120px;
  border: none;
  border-radius: 5px;
}
.btn-modal-2 {
  border: 1px solid #eda620;
  color: #eda620;
  height: 44px;
  width: 120px;
  background-color: #312e2e;
  border-radius: 5px;
}
.errors-2{
font-size: 0.9rem;
color: red;
}
@media (max-width: 576px) {
  .heading-t-br {
    font-size: 1rem !important;
  }
  .img-cart {
    height: 50px;
    width: 40px;
  }
  .heading-cart {
    font-size: 0.8rem;
  }
  .item-price {
    font-size: 0.7rem;
  }
  .dlt-btn {
    font-size: 20px;
  }
  .btns-cart {
    height: 40px;
    width: 100%;
  }
  .btns-cart-empty {
    height: 40px;
    width: 100%;
  }
  .cart-text {
    font-size: 1.5rem;
  }
}
