.slider-img {
  width: 100% !important;
  min-height: 100%!important;
  background-image: url(../../../public/assets/Hero\ Section.png);
  background-size: cover;
  display: block !important;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}
.container-carousel {
  height: 500px;
  width: 900px;
  background-color: rgba(255, 255, 255, 0.049);
  backdrop-filter: blur(10px);
  border-left: 1px solid #d6cfcfd7;
  border-radius: 10px;
}
.heading-hp{
    font-size: 4rem;
    text-wrap: nowrap;
}
.btn-slider{
    background-color: #F7D99C !important;
    color: #595755  !important;
    border-radius: 5px;
    height: 40px !important;
}
.btn-carousel{
    background-color: #EDA620 !important;
    color: #fff !important;
    border-radius: 5px;
    height: 40px !important;
    width: 200px;
}
@media (max-width: 576px) {
  .container-carousel {
    height: 400px;
    width: 90%;
  }
  .heading-hp{
    font-size: 2rem;
}
.btn-slider{
  height: 35px !important;
  font-size: 13px;
}
.btn-carousel{
  height: 35px !important;
  width: 80px;
  font-size: 13px;
}
}